footer.footer
  .container.container_footer
    .row.text-center
      .col-md-4
        p LOGO HERE
      .col-md-4
        p LINKS GOES HERe
      .col-md-4
        p CREDIT card info and Social Media