nav.navbar.navbar-inverse.bg-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='#') Fint som snus
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/api/products') Products
      li
        a(href='#') How it works
      li
        a(href='#') Join the club
    ul.nav.navbar-nav.navbar-right
      li
        a(href="/api/cart")
          span.glyphicon.glyphicon-shopping-cart
          |  Shopping Cart
      li
        a(href='/users/signup')
          span.glyphicon.glyphicon-user
          |  Sign Up 
      li
        a(href='#')
          span.glyphicon.glyphicon-log-in
          |  Login